/* index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  background-color: #f8f8f8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
